

<%- include("header")-%>


  <section class="home">

          <div class="home-main">
           <div class="home-main-text-box">
             <h1 class="home-main-text-1">WAYHEAD TECH</h1>
             <h1 class="home-main-text-2">Headed to deliver your needs!</h1>
        <a href="#" class="but but-white">Our Services</a>
            </div>
          </div>



</section>


<section id="about">
  <div class="about-main">

    <div class="about-main-text-box">
      <img class="abt-log" src="images/way-logo.png" alt="">

      <hr>
      <h1 class="about-main-text-1">About Us</h1>


      <h1 class="about-main-text-2">At WayHead Technologies, we have exclusively constructed experts for a scope of ventures. In-house ability to configuration, fabricate and control custom tailored frameworks. The mechanization division is exceptionally knowledgeable about providing and supporting total creation computerization lines for auto, fabricating, food industries , materials dealing with, and general engineering areas.</h1>
<hr>
    </div>



</div>


</section>


<section id="vision-mission">
  <div class="about-main-vision-mission">

  <div class="about-main-vm-text-box">

      <div class="row">
        <div class="col-lg-6">
          <hr>
          <img class="vm-icon" src="images/eye.png" alt="">
        <h1 class="vm-h1">Vision</h1>
        <p class="vm-p">Our vision is to be the market-driving item arrangement. We will achieve this objective with accomplished and exceptionally energetic designers that flourish with self-awareness and fulfillment through cooperation and Integrity.</p>
<hr>
        </div>
        <div class="col-lg-6">
          <hr>

          <img class="vm-icon" src="images/mission.png" alt="">

          <h1 class="vm-h1">Mission</h1>
          <p class="vm-p">Accomplish supportable development by giving a total scope of secluded machine building & interfacing answers for different areas with top notch items at cutthroat costs with consumer loyalty.</p>
<hr>
        </div>
</div>



  </div>





  </div>
</section>



<section class="services-intro">


  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="services-intro-img-1">

  <div class="services-intro-img-text-box">
<h1 class="s-h1">Design & consultancy </h1>
<p class="s-p">Design Integrity is a product design and development consulting firm. </p>
<a href="#" class="but but-white">Design&Consulancy</a>

  </div>
</div>
      </div>
      <div class="carousel-item">
        <div class="services-intro-img-2">
          <div class="services-intro-img-text-box">
        <h1 class="s-h1">Industry 4.0 </h1>
        <p class="s-p">Interfacing gadgets utilizing IoT permits individuals to utilize the immense measure of undiscovered data and use it to settle on more brilliant choices. </p>
        <a href="#" class="but but-white">Industry 4.0</a>


          </div>

        </div>


      </div>
      <div class="carousel-item">
        <div class="services-intro-img-3">

          <div class="services-intro-img-text-box">
        <h1 class="s-h1">Industrial Training </h1>
<p class="s-p">Preparing and loaning to assist clients with effectively fortifying and develop their organizations through supportable deals, monetary information, and occupation creation.</p>
        <a href="#" class="but but-black">Industrial Training</a>

          </div>
</div>
      </div>

    </div>
    <button class="  carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class=" cb carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="  carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class=" cb carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




</section>




<%- include("footer")-%>
